.App {
  text-align: center;
}
.pokemon {
  margin-top: 30px;
  height: 160px;
}
.pokemon {
  margin-top: 30px;
  height: 180px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  width: 80px;
  height: 80px;

}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

input {

  margin-top: 50px;
  font-size: 20px;
  text-align: center;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
